{
  "openapi": "3.0.1",
  "info": {
    "title": "Places API",
    "description": "Places APIs",
    "version": "v1.0"
  },
  "servers": [
    {
      "url": "https://api.foursquare.com"
    }
  ],
  "security": [
    {
      "PlacesApiKeyAuth": []
    }
  ],
  "paths": {
    "/v3/places/search": {
      "get": {
        "tags": [
          "Search & Data"
        ],
        "summary": "Place Search",
        "description": "Search for places in the FSQ Places database using a location and querying by name, category name, telephone number, taste label, or chain name. For example, search for \"coffee\" to get back a list of recommended coffee shops. \n\nYou may pass a location with your request by using one of the following options. If none of the following options are passed, Place Search defaults to geolocation using ip biasing with the optional radius parameter.\n\n<ul><li>ll & radius (circular boundary)</li><li>near (geocodable locality)</li><li>ne & sw (rectangular boundary)</li></ul>",
        "operationId": "place-search",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "A string to be matched against all content for this place, including but not limited to venue name, category, telephone number, taste, and tips.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ll",
            "in": "query",
            "description": "The latitude/longitude around which to retrieve place information. This must be specified as latitude,longitude (e.g., ll=41.8781,-87.6298).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "description": "Sets a radius distance (in meters) used to define an area to bias search results. The maximum allowed radius is 100,000 meters. Radius can be used in combination with ll or ip biased geolocation only. By using radius, global search results will be omitted. If not provided, default radius applied is 22000 meters.",
            "required": false,
            "schema": {
              "maximum": 100000,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "categories",
            "in": "query",
            "description": "Filters the response and returns FSQ Places matching the specified categories. Supports multiple Category IDs, separated by commas.\n\nFor a complete list of Foursquare Category IDs, refer to the <a href=\"https://docs.foursquare.com/docs/categories\" target=\"blank\">Category Taxonomy</a> page. [This endpoint prefers the 5-integer style id, but can accept theBSON style id]",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chains",
            "in": "query",
            "description": "Filters the response and returns FSQ Places matching the specified chains. Supports multiple chain IDs, separated by commas.\n\nFor more information on Foursquare Chain IDs, refer to the <a href=\"https://docs.foursquare.com/docs/chains\" target=\"blank\">Chains</a> page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exclude_chains",
            "in": "query",
            "description": "Filters the response and returns FSQ Places not matching any of the specified chains. Supports multiple chain IDs, separated by commas. Cannot be used in conjunction with exclude_all_chains.\n\nFor more information on Foursquare Chain IDs, refer to the <a href=\"https://docs.foursquare.com/docs/chains\" target=\"blank\">Chains</a> page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exclude_all_chains",
            "in": "query",
            "description": "Filters the response by only returning FSQ Places that are not known to be part of any chain. Cannot be used in conjunction with exclude_chains.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Indicate which fields to return in the response, separated by commas. If no fields are specified, all <a href=\"https://docs.foursquare.com/reference/response-fields#core-data-fields\" target=\"_blank\">Core Fields</a> are returned by default. \n\nFor a complete list of returnable fields, refer to the <a href=\"https://docs.foursquare.com/reference/response-fields\" target=\"_blank\">Response Fields</a> page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_price",
            "in": "query",
            "description": "Restricts results to only those places within the specified price range. Valid values range between 1 (most affordable) to 4 (most expensive), inclusive.",
            "required": false,
            "schema": {
              "maximum": 4,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "max_price",
            "in": "query",
            "description": "Restricts results to only those places within the specified price range. Valid values range between 1 (most affordable) to 4 (most expensive), inclusive.",
            "required": false,
            "schema": {
              "maximum": 4,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "open_at",
            "in": "query",
            "description": "Support local day and local time requests through this parameter. To be specified as DOWTHHMM (e.g., 1T2130), where DOW is the day number 1-7 (Monday = 1, Sunday = 7) and time is in 24 hour format.\n\nPlaces that do not have opening hours will not be returned if this parameter is specified. Cannot be specified in conjunction with `open_now`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "open_now",
            "in": "query",
            "description": "Restricts results to only those places that are open now.\n\nPlaces that do not have opening hours will not be returned if this parameter is specified. Cannot be specified in conjunction with `open_at`.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ne",
            "in": "query",
            "description": "The latitude/longitude representing the north/east points of a rectangle. Must be used with sw parameter to specify a rectangular search box. Global search results will be omitted.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sw",
            "in": "query",
            "description": "The latitude/longitude representing the south/west points of a rectangle. Must be used with ne parameter to specify a rectangular search box. Global search results will be omitted.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "near",
            "in": "query",
            "description": "A string naming a locality in the world (e.g., \"Chicago, IL\"). If the value is not geocodable, returns an error.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "polygon",
            "in": "query",
            "description": "A string containing a list of coordinate pairs which define the edges of the polygon. Each pair must include latitude and longitude separated by a comma, with each pair separated by a tilde ~. Must have at least 4 coordinate pairs and be considered a \"closed\" polygon.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Specifies the order in which results are listed. Possible values are:<ul><li>relevance (default)</li><li>rating</li><li>distance</li></ul>",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "RELEVANCE",
                "RATING",
                "DISTANCE",
                "POPULARITY"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results to return, up to 50. Defaults to 10.",
            "required": false,
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "session_token",
            "in": "query",
            "description": "A user-generated token to identify a session for billing purposes. Learn more about [session tokens](https://docs.foursquare.com/reference/session-tokens).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "super_venue_id",
            "in": "query",
            "description": "A Foursquare Venue ID to use as search bounds so only places within that venue are returned",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "properties": {
                        "traversable_again": {
                          "type": "boolean"
                        }
                      },
                      "items": {
                        "type": "object",
                        "properties": {
                          "fsq_id": {
                            "type": "string"
                          },
                          "categories": {
                            "type": "array",
                            "properties": {
                              "traversable_again": {
                                "type": "boolean"
                              }
                            },
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "short_name": {
                                  "type": "string"
                                },
                                "plural_name": {
                                  "type": "string"
                                },
                                "icon": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "created_at": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "prefix": {
                                      "type": "string"
                                    },
                                    "suffix": {
                                      "type": "string"
                                    },
                                    "width": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "height": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "classifications": {
                                      "type": "array",
                                      "properties": {
                                        "traversable_again": {
                                          "type": "boolean"
                                        }
                                      },
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    "tip": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "created_at": {
                                          "type": "string",
                                          "format": "date-time"
                                        },
                                        "text": {
                                          "type": "string"
                                        },
                                        "url": {
                                          "type": "string"
                                        },
                                        "photo": {},
                                        "lang": {
                                          "type": "string"
                                        },
                                        "agree_count": {
                                          "type": "integer",
                                          "format": "int32"
                                        },
                                        "disagree_count": {
                                          "type": "integer",
                                          "format": "int32"
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "chains": {
                            "type": "array",
                            "properties": {
                              "traversable_again": {
                                "type": "boolean"
                              }
                            },
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "closed_bucket": {
                            "type": "string"
                          },
                          "date_closed": {
                            "type": "string",
                            "format": "date"
                          },
                          "description": {
                            "type": "string"
                          },
                          "distance": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "email": {
                            "type": "string"
                          },
                          "fax": {
                            "type": "string"
                          },
                          "features": {
                            "type": "object",
                            "properties": {
                              "payment": {
                                "type": "object",
                                "properties": {
                                  "credit_cards": {
                                    "type": "object",
                                    "properties": {
                                      "accepts_credit_cards": {
                                        "type": "object"
                                      },
                                      "amex": {
                                        "type": "object"
                                      },
                                      "discover": {
                                        "type": "object"
                                      },
                                      "visa": {
                                        "type": "object"
                                      },
                                      "diners_club": {
                                        "type": "object"
                                      },
                                      "master_card": {
                                        "type": "object"
                                      },
                                      "union_pay": {
                                        "type": "object"
                                      }
                                    }
                                  },
                                  "digital_wallet": {
                                    "type": "object",
                                    "properties": {
                                      "accepts_nfc": {
                                        "type": "object"
                                      }
                                    }
                                  }
                                }
                              },
                              "food_and_drink": {
                                "type": "object",
                                "properties": {
                                  "alcohol": {
                                    "type": "object",
                                    "properties": {
                                      "bar_service": {
                                        "type": "object"
                                      },
                                      "beer": {
                                        "type": "object"
                                      },
                                      "byo": {
                                        "type": "object"
                                      },
                                      "cocktails": {
                                        "type": "object"
                                      },
                                      "full_bar": {
                                        "type": "object"
                                      },
                                      "wine": {
                                        "type": "object"
                                      }
                                    }
                                  },
                                  "meals": {
                                    "type": "object",
                                    "properties": {
                                      "bar_snacks": {
                                        "type": "object"
                                      },
                                      "breakfast": {
                                        "type": "object"
                                      },
                                      "brunch": {
                                        "type": "object"
                                      },
                                      "lunch": {
                                        "type": "object"
                                      },
                                      "happy_hour": {
                                        "type": "object"
                                      },
                                      "dessert": {
                                        "type": "object"
                                      },
                                      "dinner": {
                                        "type": "object"
                                      },
                                      "tasting_menu": {
                                        "type": "object"
                                      }
                                    }
                                  }
                                }
                              },
                              "services": {
                                "type": "object",
                                "properties": {
                                  "delivery": {
                                    "type": "object"
                                  },
                                  "takeout": {
                                    "type": "object"
                                  },
                                  "drive_through": {
                                    "type": "object"
                                  },
                                  "dine_in": {
                                    "type": "object",
                                    "properties": {
                                      "reservations": {
                                        "type": "object"
                                      },
                                      "online_reservations": {
                                        "type": "object"
                                      },
                                      "groups_only_reservations": {
                                        "type": "object"
                                      },
                                      "essential_reservations": {
                                        "type": "object"
                                      }
                                    }
                                  }
                                }
                              },
                              "amenities": {
                                "type": "object",
                                "properties": {
                                  "restroom": {
                                    "type": "object"
                                  },
                                  "smoking": {
                                    "type": "object"
                                  },
                                  "jukebox": {
                                    "type": "object"
                                  },
                                  "music": {
                                    "type": "object"
                                  },
                                  "live_music": {
                                    "type": "object"
                                  },
                                  "private_room": {
                                    "type": "object"
                                  },
                                  "outdoor_seating": {
                                    "type": "object"
                                  },
                                  "tvs": {
                                    "type": "object"
                                  },
                                  "atm": {
                                    "type": "object"
                                  },
                                  "coat_check": {
                                    "type": "object"
                                  },
                                  "wheelchair_accessible": {
                                    "type": "object"
                                  },
                                  "parking": {
                                    "type": "object",
                                    "properties": {
                                      "parking": {
                                        "type": "object"
                                      },
                                      "street_parking": {
                                        "type": "object"
                                      },
                                      "valet_parking": {
                                        "type": "object"
                                      },
                                      "public_lot": {
                                        "type": "object"
                                      },
                                      "private_lot": {
                                        "type": "object"
                                      }
                                    }
                                  },
                                  "sit_down_dining": {
                                    "type": "object"
                                  },
                                  "wifi": {
                                    "type": "string"
                                  }
                                }
                              },
                              "attributes": {
                                "type": "object",
                                "properties": {
                                  "business_meeting": {
                                    "type": "string"
                                  },
                                  "clean": {
                                    "type": "string"
                                  },
                                  "crowded": {
                                    "type": "string"
                                  },
                                  "dates_popular": {
                                    "type": "string"
                                  },
                                  "dressy": {
                                    "type": "string"
                                  },
                                  "families_popular": {
                                    "type": "string"
                                  },
                                  "gluten_free_diet": {
                                    "type": "string"
                                  },
                                  "good_for_dogs": {
                                    "type": "string"
                                  },
                                  "groups_popular": {
                                    "type": "string"
                                  },
                                  "healthy_diet": {
                                    "type": "string"
                                  },
                                  "late_night": {
                                    "type": "string"
                                  },
                                  "noisy": {
                                    "type": "string"
                                  },
                                  "quick_bite": {
                                    "type": "string"
                                  },
                                  "romantic": {
                                    "type": "string"
                                  },
                                  "service_quality": {
                                    "type": "string"
                                  },
                                  "singles_popular": {
                                    "type": "string"
                                  },
                                  "special_occasion": {
                                    "type": "string"
                                  },
                                  "trendy": {
                                    "type": "string"
                                  },
                                  "value_for_money": {
                                    "type": "string"
                                  },
                                  "vegan_diet": {
                                    "type": "string"
                                  },
                                  "vegetarian_diet": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          },
                          "geocodes": {
                            "type": "object",
                            "properties": {
                              "drop_off": {
                                "type": "object",
                                "properties": {
                                  "latitude": {
                                    "type": "number",
                                    "format": "double"
                                  },
                                  "longitude": {
                                    "type": "number",
                                    "format": "double"
                                  }
                                }
                              },
                              "front_door": {
                                "type": "object",
                                "properties": {
                                  "latitude": {
                                    "type": "number",
                                    "format": "double"
                                  },
                                  "longitude": {
                                    "type": "number",
                                    "format": "double"
                                  }
                                }
                              },
                              "main": {
                                "type": "object",
                                "properties": {
                                  "latitude": {
                                    "type": "number",
                                    "format": "double"
                                  },
                                  "longitude": {
                                    "type": "number",
                                    "format": "double"
                                  }
                                }
                              },
                              "road": {
                                "type": "object",
                                "properties": {
                                  "latitude": {
                                    "type": "number",
                                    "format": "double"
                                  },
                                  "longitude": {
                                    "type": "number",
                                    "format": "double"
                                  }
                                }
                              },
                              "roof": {
                                "type": "object",
                                "properties": {
                                  "latitude": {
                                    "type": "number",
                                    "format": "double"
                                  },
                                  "longitude": {
                                    "type": "number",
                                    "format": "double"
                                  }
                                }
                              }
                            }
                          },
                          "hours": {
                            "type": "object",
                            "properties": {
                              "display": {
                                "type": "string"
                              },
                              "is_local_holiday": {
                                "type": "boolean"
                              },
                              "open_now": {
                                "type": "boolean"
                              },
                              "regular": {
                                "type": "array",
                                "properties": {
                                  "traversable_again": {
                                    "type": "boolean"
                                  }
                                },
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "close": {
                                      "type": "string"
                                    },
                                    "day": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "open": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "hours_popular": {
                            "type": "array",
                            "properties": {
                              "traversable_again": {
                                "type": "boolean"
                              }
                            },
                            "items": {
                              "type": "object",
                              "properties": {
                                "close": {
                                  "type": "string"
                                },
                                "day": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "open": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "link": {
                            "type": "string"
                          },
                          "location": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string"
                              },
                              "address_extended": {
                                "type": "string"
                              },
                              "admin_region": {
                                "type": "string"
                              },
                              "census_block": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "cross_street": {
                                "type": "string"
                              },
                              "dma": {
                                "type": "string"
                              },
                              "formatted_address": {
                                "type": "string"
                              },
                              "locality": {
                                "type": "string"
                              },
                              "neighborhood": {
                                "type": "array",
                                "properties": {
                                  "traversable_again": {
                                    "type": "boolean"
                                  }
                                },
                                "items": {
                                  "type": "string"
                                }
                              },
                              "po_box": {
                                "type": "string"
                              },
                              "post_town": {
                                "type": "string"
                              },
                              "postcode": {
                                "type": "string"
                              },
                              "region": {
                                "type": "string"
                              }
                            }
                          },
                          "menu": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "photos": {
                            "type": "array",
                            "properties": {
                              "traversable_again": {
                                "type": "boolean"
                              }
                            },
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "created_at": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "prefix": {
                                  "type": "string"
                                },
                                "suffix": {
                                  "type": "string"
                                },
                                "width": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "height": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "classifications": {
                                  "type": "array",
                                  "properties": {
                                    "traversable_again": {
                                      "type": "boolean"
                                    }
                                  },
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "tip": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "created_at": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "text": {
                                      "type": "string"
                                    },
                                    "url": {
                                      "type": "string"
                                    },
                                    "photo": {},
                                    "lang": {
                                      "type": "string"
                                    },
                                    "agree_count": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "disagree_count": {
                                      "type": "integer",
                                      "format": "int32"
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "popularity": {
                            "type": "number",
                            "format": "double"
                          },
                          "price": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "rating": {
                            "type": "number",
                            "format": "double"
                          },
                          "related_places": {
                            "type": "object",
                            "properties": {
                              "parent": {}
                            }
                          },
                          "social_media": {
                            "type": "object",
                            "properties": {
                              "facebook_id": {
                                "type": "string"
                              },
                              "instagram": {
                                "type": "string"
                              },
                              "twitter": {
                                "type": "string"
                              }
                            }
                          },
                          "stats": {
                            "type": "object",
                            "properties": {
                              "total_photos": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "total_ratings": {
                                "type": "integer",
                                "format": "int64"
                              },
                              "total_tips": {
                                "type": "integer",
                                "format": "int32"
                              }
                            }
                          },
                          "store_id": {
                            "type": "string"
                          },
                          "tastes": {
                            "type": "array",
                            "properties": {
                              "traversable_again": {
                                "type": "boolean"
                              }
                            },
                            "items": {
                              "type": "string"
                            }
                          },
                          "tel": {
                            "type": "string"
                          },
                          "timezone": {
                            "type": "string"
                          },
                          "tips": {
                            "type": "array",
                            "properties": {
                              "traversable_again": {
                                "type": "boolean"
                              }
                            },
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "created_at": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "text": {
                                  "type": "string"
                                },
                                "url": {
                                  "type": "string"
                                },
                                "photo": {},
                                "lang": {
                                  "type": "string"
                                },
                                "agree_count": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "disagree_count": {
                                  "type": "integer",
                                  "format": "int32"
                                }
                              }
                            }
                          },
                          "venue_reality_bucket": {
                            "type": "string"
                          },
                          "verified": {
                            "type": "boolean"
                          },
                          "website": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "context": {
                      "type": "object",
                      "properties": {
                        "geo_bounds": {
                          "type": "object",
                          "properties": {
                            "circle": {
                              "type": "object",
                              "properties": {
                                "center": {
                                  "type": "object",
                                  "properties": {
                                    "latitude": {
                                      "type": "number",
                                      "format": "double"
                                    },
                                    "longitude": {
                                      "type": "number",
                                      "format": "double"
                                    }
                                  }
                                },
                                "radius": {
                                  "type": "integer",
                                  "format": "int32"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad request"
          },
          "401": {
            "description": "unauthorized"
          }
        }
      }
    },
    "/v3/places/{fsq_id}": {
      "get": {
        "tags": [
          "Search & Data"
        ],
        "summary": "Get Place Details",
        "description": "Retrieve comprehensive information and metadata for a FSQ Place using the fsq_id.",
        "operationId": "place-details",
        "parameters": [
          {
            "name": "fsq_id",
            "in": "path",
            "description": "A unique string identifier for a FSQ Place (formerly known as Venue ID). E.g., Foursquare HQ's fsq_id = 5a187743ccad6b307315e6fe",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Indicate which fields to return in the response, separated by commas. If no fields are specified, all <a href=\"https://docs.foursquare.com/reference/response-fields#core-data-fields\" target=\"_blank\">Core Fields</a> are returned by default. \n\nFor a complete list of returnable fields, refer to the <a href=\"https://docs.foursquare.com/reference/response-fields\" target=\"_blank\">Response Fields</a> page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "session_token",
            "in": "query",
            "description": "A user-generated token to identify a session for billing purposes. Learn more about [session tokens](https://docs.foursquare.com/reference/session-tokens).",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fsq_id": {
                      "type": "string"
                    },
                    "categories": {
                      "type": "array",
                      "properties": {
                        "traversable_again": {
                          "type": "boolean"
                        }
                      },
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "name": {
                            "type": "string"
                          },
                          "short_name": {
                            "type": "string"
                          },
                          "plural_name": {
                            "type": "string"
                          },
                          "icon": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "prefix": {
                                "type": "string"
                              },
                              "suffix": {
                                "type": "string"
                              },
                              "width": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "height": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "classifications": {
                                "type": "array",
                                "properties": {
                                  "traversable_again": {
                                    "type": "boolean"
                                  }
                                },
                                "items": {
                                  "type": "string"
                                }
                              },
                              "tip": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "created_at": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "text": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "photo": {},
                                  "lang": {
                                    "type": "string"
                                  },
                                  "agree_count": {
                                    "type": "integer",
                                    "format": "int32"
                                  },
                                  "disagree_count": {
                                    "type": "integer",
                                    "format": "int32"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "chains": {
                      "type": "array",
                      "properties": {
                        "traversable_again": {
                          "type": "boolean"
                        }
                      },
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "closed_bucket": {
                      "type": "string"
                    },
                    "date_closed": {
                      "type": "string",
                      "format": "date"
                    },
                    "description": {
                      "type": "string"
                    },
                    "distance": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "email": {
                      "type": "string"
                    },
                    "fax": {
                      "type": "string"
                    },
                    "features": {
                      "type": "object",
                      "properties": {
                        "payment": {
                          "type": "object",
                          "properties": {
                            "credit_cards": {
                              "type": "object",
                              "properties": {
                                "accepts_credit_cards": {
                                  "type": "object"
                                },
                                "amex": {
                                  "type": "object"
                                },
                                "discover": {
                                  "type": "object"
                                },
                                "visa": {
                                  "type": "object"
                                },
                                "diners_club": {
                                  "type": "object"
                                },
                                "master_card": {
                                  "type": "object"
                                },
                                "union_pay": {
                                  "type": "object"
                                }
                              }
                            },
                            "digital_wallet": {
                              "type": "object",
                              "properties": {
                                "accepts_nfc": {
                                  "type": "object"
                                }
                              }
                            }
                          }
                        },
                        "food_and_drink": {
                          "type": "object",
                          "properties": {
                            "alcohol": {
                              "type": "object",
                              "properties": {
                                "bar_service": {
                                  "type": "object"
                                },
                                "beer": {
                                  "type": "object"
                                },
                                "byo": {
                                  "type": "object"
                                },
                                "cocktails": {
                                  "type": "object"
                                },
                                "full_bar": {
                                  "type": "object"
                                },
                                "wine": {
                                  "type": "object"
                                }
                              }
                            },
                            "meals": {
                              "type": "object",
                              "properties": {
                                "bar_snacks": {
                                  "type": "object"
                                },
                                "breakfast": {
                                  "type": "object"
                                },
                                "brunch": {
                                  "type": "object"
                                },
                                "lunch": {
                                  "type": "object"
                                },
                                "happy_hour": {
                                  "type": "object"
                                },
                                "dessert": {
                                  "type": "object"
                                },
                                "dinner": {
                                  "type": "object"
                                },
                                "tasting_menu": {
                                  "type": "object"
                                }
                              }
                            }
                          }
                        },
                        "services": {
                          "type": "object",
                          "properties": {
                            "delivery": {
                              "type": "object"
                            },
                            "takeout": {
                              "type": "object"
                            },
                            "drive_through": {
                              "type": "object"
                            },
                            "dine_in": {
                              "type": "object",
                              "properties": {
                                "reservations": {
                                  "type": "object"
                                },
                                "online_reservations": {
                                  "type": "object"
                                },
                                "groups_only_reservations": {
                                  "type": "object"
                                },
                                "essential_reservations": {
                                  "type": "object"
                                }
                              }
                            }
                          }
                        },
                        "amenities": {
                          "type": "object",
                          "properties": {
                            "restroom": {
                              "type": "object"
                            },
                            "smoking": {
                              "type": "object"
                            },
                            "jukebox": {
                              "type": "object"
                            },
                            "music": {
                              "type": "object"
                            },
                            "live_music": {
                              "type": "object"
                            },
                            "private_room": {
                              "type": "object"
                            },
                            "outdoor_seating": {
                              "type": "object"
                            },
                            "tvs": {
                              "type": "object"
                            },
                            "atm": {
                              "type": "object"
                            },
                            "coat_check": {
                              "type": "object"
                            },
                            "wheelchair_accessible": {
                              "type": "object"
                            },
                            "parking": {
                              "type": "object",
                              "properties": {
                                "parking": {
                                  "type": "object"
                                },
                                "street_parking": {
                                  "type": "object"
                                },
                                "valet_parking": {
                                  "type": "object"
                                },
                                "public_lot": {
                                  "type": "object"
                                },
                                "private_lot": {
                                  "type": "object"
                                }
                              }
                            },
                            "sit_down_dining": {
                              "type": "object"
                            },
                            "wifi": {
                              "type": "string"
                            }
                          }
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "business_meeting": {
                              "type": "string"
                            },
                            "clean": {
                              "type": "string"
                            },
                            "crowded": {
                              "type": "string"
                            },
                            "dates_popular": {
                              "type": "string"
                            },
                            "dressy": {
                              "type": "string"
                            },
                            "families_popular": {
                              "type": "string"
                            },
                            "gluten_free_diet": {
                              "type": "string"
                            },
                            "good_for_dogs": {
                              "type": "string"
                            },
                            "groups_popular": {
                              "type": "string"
                            },
                            "healthy_diet": {
                              "type": "string"
                            },
                            "late_night": {
                              "type": "string"
                            },
                            "noisy": {
                              "type": "string"
                            },
                            "quick_bite": {
                              "type": "string"
                            },
                            "romantic": {
                              "type": "string"
                            },
                            "service_quality": {
                              "type": "string"
                            },
                            "singles_popular": {
                              "type": "string"
                            },
                            "special_occasion": {
                              "type": "string"
                            },
                            "trendy": {
                              "type": "string"
                            },
                            "value_for_money": {
                              "type": "string"
                            },
                            "vegan_diet": {
                              "type": "string"
                            },
                            "vegetarian_diet": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "geocodes": {
                      "type": "object",
                      "properties": {
                        "drop_off": {
                          "type": "object",
                          "properties": {
                            "latitude": {
                              "type": "number",
                              "format": "double"
                            },
                            "longitude": {
                              "type": "number",
                              "format": "double"
                            }
                          }
                        },
                        "front_door": {
                          "type": "object",
                          "properties": {
                            "latitude": {
                              "type": "number",
                              "format": "double"
                            },
                            "longitude": {
                              "type": "number",
                              "format": "double"
                            }
                          }
                        },
                        "main": {
                          "type": "object",
                          "properties": {
                            "latitude": {
                              "type": "number",
                              "format": "double"
                            },
                            "longitude": {
                              "type": "number",
                              "format": "double"
                            }
                          }
                        },
                        "road": {
                          "type": "object",
                          "properties": {
                            "latitude": {
                              "type": "number",
                              "format": "double"
                            },
                            "longitude": {
                              "type": "number",
                              "format": "double"
                            }
                          }
                        },
                        "roof": {
                          "type": "object",
                          "properties": {
                            "latitude": {
                              "type": "number",
                              "format": "double"
                            },
                            "longitude": {
                              "type": "number",
                              "format": "double"
                            }
                          }
                        }
                      }
                    },
                    "hours": {
                      "type": "object",
                      "properties": {
                        "display": {
                          "type": "string"
                        },
                        "is_local_holiday": {
                          "type": "boolean"
                        },
                        "open_now": {
                          "type": "boolean"
                        },
                        "regular": {
                          "type": "array",
                          "properties": {
                            "traversable_again": {
                              "type": "boolean"
                            }
                          },
                          "items": {
                            "type": "object",
                            "properties": {
                              "close": {
                                "type": "string"
                              },
                              "day": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "open": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "hours_popular": {
                      "type": "array",
                      "properties": {
                        "traversable_again": {
                          "type": "boolean"
                        }
                      },
                      "items": {
                        "type": "object",
                        "properties": {
                          "close": {
                            "type": "string"
                          },
                          "day": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "open": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "link": {
                      "type": "string"
                    },
                    "location": {
                      "type": "object",
                      "properties": {
                        "address": {
                          "type": "string"
                        },
                        "address_extended": {
                          "type": "string"
                        },
                        "admin_region": {
                          "type": "string"
                        },
                        "census_block": {
                          "type": "string"
                        },
                        "country": {
                          "type": "string"
                        },
                        "cross_street": {
                          "type": "string"
                        },
                        "dma": {
                          "type": "string"
                        },
                        "formatted_address": {
                          "type": "string"
                        },
                        "locality": {
                          "type": "string"
                        },
                        "neighborhood": {
                          "type": "array",
                          "properties": {
                            "traversable_again": {
                              "type": "boolean"
                            }
                          },
                          "items": {
                            "type": "string"
                          }
                        },
                        "po_box": {
                          "type": "string"
                        },
                        "post_town": {
                          "type": "string"
                        },
                        "postcode": {
                          "type": "string"
                        },
                        "region": {
                          "type": "string"
                        }
                      }
                    },
                    "menu": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "photos": {
                      "type": "array",
                      "properties": {
                        "traversable_again": {
                          "type": "boolean"
                        }
                      },
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "prefix": {
                            "type": "string"
                          },
                          "suffix": {
                            "type": "string"
                          },
                          "width": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "height": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "classifications": {
                            "type": "array",
                            "properties": {
                              "traversable_again": {
                                "type": "boolean"
                              }
                            },
                            "items": {
                              "type": "string"
                            }
                          },
                          "tip": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "text": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              },
                              "photo": {},
                              "lang": {
                                "type": "string"
                              },
                              "agree_count": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "disagree_count": {
                                "type": "integer",
                                "format": "int32"
                              }
                            }
                          }
                        }
                      }
                    },
                    "popularity": {
                      "type": "number",
                      "format": "double"
                    },
                    "price": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "rating": {
                      "type": "number",
                      "format": "double"
                    },
                    "related_places": {
                      "type": "object",
                      "properties": {
                        "parent": {}
                      }
                    },
                    "social_media": {
                      "type": "object",
                      "properties": {
                        "facebook_id": {
                          "type": "string"
                        },
                        "instagram": {
                          "type": "string"
                        },
                        "twitter": {
                          "type": "string"
                        }
                      }
                    },
                    "stats": {
                      "type": "object",
                      "properties": {
                        "total_photos": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "total_ratings": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "total_tips": {
                          "type": "integer",
                          "format": "int32"
                        }
                      }
                    },
                    "store_id": {
                      "type": "string"
                    },
                    "tastes": {
                      "type": "array",
                      "properties": {
                        "traversable_again": {
                          "type": "boolean"
                        }
                      },
                      "items": {
                        "type": "string"
                      }
                    },
                    "tel": {
                      "type": "string"
                    },
                    "timezone": {
                      "type": "string"
                    },
                    "tips": {
                      "type": "array",
                      "properties": {
                        "traversable_again": {
                          "type": "boolean"
                        }
                      },
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "text": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "photo": {},
                          "lang": {
                            "type": "string"
                          },
                          "agree_count": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "disagree_count": {
                            "type": "integer",
                            "format": "int32"
                          }
                        }
                      }
                    },
                    "venue_reality_bucket": {
                      "type": "string"
                    },
                    "verified": {
                      "type": "boolean"
                    },
                    "website": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "invalid venue specified"
          }
        }
      }
    },
    "/v3/places/{fsq_id}/photos": {
      "get": {
        "tags": [
          "Search & Data"
        ],
        "summary": "Get Place Photos",
        "description": "Retrieve photos for a FSQ Place using the fsq_id. \n\nTo retrieve photos from a Photos response, learn [how to assemble photo URLs](https://docs.foursquare.com/reference/photos-guide#assembling-a-photo-url). ",
        "operationId": "place-photos",
        "parameters": [
          {
            "name": "fsq_id",
            "in": "path",
            "description": "A unique string identifier for a FSQ Place (formerly known as Venue ID). E.g., Foursquare HQ's fsq_id = 5a187743ccad6b307315e6fe",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The specified number of photos per page. Returns 10 photos by default, up to a maximum number of 50.",
            "required": false,
            "schema": {
              "maximum": 50,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Specifies the order in which results are listed. Possible values are:<ul><li>popular (default) - sorts results based on their popularity among Foursquare users</li><li>newest - sorts results from most recently added to least recently added</li></ul>",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "POPULAR",
                "NEWEST"
              ]
            }
          },
          {
            "name": "classifications",
            "in": "query",
            "description": "Restricts the results to photos matching the specified classifications, separated by a comma. Possible values are:<ul><li>food - photos of food</li><li>indoor - photos of indoors</li><li>menu - photos of menus</li><li>outdoor - photos of storefronts, outdoors, and exteriors</li></ul>",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "prefix": {
                        "type": "string"
                      },
                      "suffix": {
                        "type": "string"
                      },
                      "width": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "height": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "classifications": {
                        "type": "array",
                        "properties": {
                          "traversable_again": {
                            "type": "boolean"
                          }
                        },
                        "items": {
                          "type": "string"
                        }
                      },
                      "tip": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "text": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "photo": {},
                          "lang": {
                            "type": "string"
                          },
                          "agree_count": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "disagree_count": {
                            "type": "integer",
                            "format": "int32"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "invalid venue specified"
          }
        }
      }
    },
    "/v3/places/{fsq_id}/tips": {
      "get": {
        "tags": [
          "Search & Data"
        ],
        "summary": "Get Place Tips",
        "description": "Retrieve tips for a FSQ Place using the fsq_id.",
        "operationId": "place-tips",
        "parameters": [
          {
            "name": "fsq_id",
            "in": "path",
            "description": "A unique string identifier for a FSQ Place (formerly known as Venue ID). E.g., Foursquare HQ's fsq_id = 5a187743ccad6b307315e6fe",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The specified number of tips per page. Returns 10 tips by default, up to a maximum number of 50.",
            "required": false,
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Indicate which fields to return in the response, separated by commas. Supported fields are:<ul><li> id - The ID of the tip to be returned.</li><li> created_at - The timestamp indicating when the tip was created; UNIX timestamp in seconds since Epoch.</li><li> text - The text of the returned tip.</li><li> lang - The language of the returned tip.</li><li> url - The URL associated with the returned tip.</li><li> agree_count - The count of users who have agreed with the returned tip.</li><li> disagree_count - The count of users who have disagreed with the returned tip.</li><li> photo - The ID of the photo asociated with the returned tip.</li></ul>Default fields if this param is omitted are \"id\", \"created_at\", and \"text\".",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Specifies the order in which results are listed. Possible values are:<ul><li>popular (default) - sorts results based on their popularity among Foursquare users</li><li>newest - sorts results from most recently added to least recently added</li></ul>",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "POPULAR",
                "NEWEST"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "text": {
                        "type": "string"
                      },
                      "url": {
                        "type": "string"
                      },
                      "photo": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "prefix": {
                            "type": "string"
                          },
                          "suffix": {
                            "type": "string"
                          },
                          "width": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "height": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "classifications": {
                            "type": "array",
                            "properties": {
                              "traversable_again": {
                                "type": "boolean"
                              }
                            },
                            "items": {
                              "type": "string"
                            }
                          },
                          "tip": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "text": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              },
                              "photo": {},
                              "lang": {
                                "type": "string"
                              },
                              "agree_count": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "disagree_count": {
                                "type": "integer",
                                "format": "int32"
                              }
                            }
                          }
                        }
                      },
                      "lang": {
                        "type": "string"
                      },
                      "agree_count": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "disagree_count": {
                        "type": "integer",
                        "format": "int32"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "invalid place specified"
          }
        }
      }
    },
    "/v3/places/match": {
      "get": {
        "tags": [
          "Search & Data"
        ],
        "summary": "Place Match",
        "description": "Return the Foursquare record of a POI (via FSQ_ID) given a Name and Location. Provide a Location by using all the Address parameters, or by LL. ",
        "operationId": "place-match",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Name of the place to match.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "query",
            "description": "Street address of the place to match (e.g. 1060 W Addison St).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "description": "City, or Locality, where the place is located (e.g. Chicago).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "State, or Region, where the place is located (e.g. Illinois).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "postal_code",
            "in": "query",
            "description": "The postal code for the address where the place is located (e.g. 60613).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cc",
            "in": "query",
            "description": "The 2-digit country code where the place is located (e.g. US).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ll",
            "in": "query",
            "description": "The latitude/longitude of the venue location. This must be specified as latitude,longitude (e.g., ll=41.9484,-87.6553).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Indicate which fields to return in the response, separated by commas. If no fields are specified, all <a href=\"https://docs.foursquare.com/reference/response-fields#core-data-fields\" target=\"_blank\">Core Fields</a> are returned by default. \n\nFor a complete list of returnable fields, refer to the <a href=\"https://docs.foursquare.com/reference/response-fields\" target=\"_blank\">Response Fields</a> page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "place": {
                      "type": "object",
                      "properties": {
                        "fsq_id": {
                          "type": "string"
                        },
                        "categories": {
                          "type": "array",
                          "properties": {
                            "traversable_again": {
                              "type": "boolean"
                            }
                          },
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "name": {
                                "type": "string"
                              },
                              "short_name": {
                                "type": "string"
                              },
                              "plural_name": {
                                "type": "string"
                              },
                              "icon": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "created_at": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "prefix": {
                                    "type": "string"
                                  },
                                  "suffix": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "integer",
                                    "format": "int32"
                                  },
                                  "height": {
                                    "type": "integer",
                                    "format": "int32"
                                  },
                                  "classifications": {
                                    "type": "array",
                                    "properties": {
                                      "traversable_again": {
                                        "type": "boolean"
                                      }
                                    },
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "tip": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "created_at": {
                                        "type": "string",
                                        "format": "date-time"
                                      },
                                      "text": {
                                        "type": "string"
                                      },
                                      "url": {
                                        "type": "string"
                                      },
                                      "photo": {},
                                      "lang": {
                                        "type": "string"
                                      },
                                      "agree_count": {
                                        "type": "integer",
                                        "format": "int32"
                                      },
                                      "disagree_count": {
                                        "type": "integer",
                                        "format": "int32"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "chains": {
                          "type": "array",
                          "properties": {
                            "traversable_again": {
                              "type": "boolean"
                            }
                          },
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
[...]
